<!DOCTYPE html>
<html>
  <head>
    <title>A View to a Room</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
      <form class="signup" action="/signup" method="post">
        <label for="email">Email: </label>
        <input name="email" type="text" />
        <br />
        <label for="password">Password: </label>
        <input name="password" type="password" />
        <br />
        <input type="submit" value="Sign Up" />
      </form>
  </body>
</html>
