<div id="landing" class="blue">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <h1 id="landing-logo">SeenicView</h1>
                <h5 id="landing-tagline">Use videos to find great roommates!</h5>
            </div>
        </div>
        <div class="row">
            <div class="usertype col s4 offset-s1">
                <h6>Owner</h6>
                <% if current_owner %>
                    <a href="../owners/<%= current_owner['id'] %>"><%= image_tag("owner.svg", class: "owner_icon") %></a>
                <% else %>
                <a href="../owners/signup"><%= image_tag("owner.svg", class: "owner_icon") %></a>
                <% end %>
            </div>
            <div class="usertype col s4 offset-s2">
                <h6>Renter</h6>
                <a href="/rooms"><%= image_tag("renter.svg", class: "renter_icon") %></a>
            </div>
        </div>
    </div>
</div>




