/* LANDING PAGE  */
#roomcards {
  font-size: 14px;
}
#roomcardtitle {
  font-size: 20px;
}

#closelink {
  font-size: 15px;
}

.homeo {
  height: 40px;
}

#home-links {
  padding-top: 10px;
}

 .about{
  border-width: 2px;
  border-color: white;
 }

#icon {
  width: 150px;
  margin-left: 35%;
 }

#icon:hover {
  width: 160px;
 }

.frontpage{
  background-color: #727272;
}
#midsection{
  padding: 1%;
}
.parallax-container{
  height: 325px;
}
#headerbar{
  background-color: #727272;
  padding: 0.25% 0% 0% 0%;
}

#abouttext{
  font-size: 20px;
  text-align: justify-all;
}

/* _________________________________ */
/* ROOMS INDEX PAGE */
.nav-wrapper{
  background-color: rgb(40, 40, 40);
}

.nav-wrapper a {
  color: white;
}

#allapts{
  background-color: #B3E5FC;
  margin: 5% 5% 15% 5%;
  padding: 0% 5% 5% 5%;
  border-radius: 2%;
}
.formlabel{
  font-size: 20px;
}
#top{
  margin-top: 20%;

}
/* _________________________________ */
/* ROOMS SHOW PAGE */
/* #cid_5{
  margin-right:-30%;
} */
.video-player-content{
  margin-left: 15%;
}
.video-player-outer{
  background-color: #B3E5FC;
}
.container{
  margin-bottom: 20%;
}
.roomshowcontent{
  margin-top: 10%;
  background-color: #B3E5FC;
  padding: 5%;
}

#roomshowcards{
  padding: 3%;
  margin-top: 5%;
  color:white;
  background-color: #727272;
}
span.title{
  font-size: 20px;
  color: #B3E5FC;
}
.card-content{
margin: auto;
}
#navlogo{
  padding-top: 15px;
  display: inline-block;
}
#navbar{
  background-color: rgb(40, 40, 40);
  height: 70px;
}
#likebutton{
  font-size: 30px;
  color: #7C4DFF;
  padding: 1%;
  border: 4px solid #7C4DFF;
  background-color: white;
  border-radius: 5px;
}

#bluebutton{
 font-size: 20px;
  color: #7C4DFF;
  padding: 1%;
  border: 3px solid #7C4DFF;
  background-color: #B3E5FC;
  border-radius: 5px;
}

#whitebutton{
  font-size: 20px;
  color: #7C4DFF;
  padding: 1%;
  border: 3px solid #7C4DFF;
  background-color: white;
  border-radius: 5px;
  margin: 5% 0% 5% 0%;
}

/* RENTERS SHOW PAGE  */
button#record{
  font-size: 20px;
  color: #7C4DFF;
  padding: 1%;
  border: 3px solid #7C4DFF;
  background-color: white;
  border-radius: 5px;
  margin: 5% 0% 5% 0%;
}

