<!DOCTYPE html>
  <html>
    <head>
      <title>HackPanthers</title>
        <link rel="icon" type="favicon" href="images/favicon.png">
        <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
        <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
        <script>ZiggeoApi.token = "8f926a00c84db8cc16c030581004e9bb";</script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
  <body>


<%= yield %>

      <div class="row">
          <p id="footer">&copy; 2016 &thinsp;&mdash;&thinsp; Hack Panthers</p>
      </div>
  </body>
</html>
